<div class="character-sheet">
  <div class="character-sheet__top">
    <div class="character-sheet__portrait" data-hero-portrait>
    </div>
    <div class="character-sheet__bio">
      <h3><span data-hero-name>???</span><br> The <span data-hero-class>???</span></h3>
      <ul>
        <li><strong>LVL:</strong> <span data-hero-level></span></li>
        <li><strong>HP:</strong> <span data-hero-current-hp></span>/<span data-hero-total-hp></span></li>
      </ul>
    </div>
  </div>
  <div class="character-sheet__bottom">
    <!-- <p><strong>QUEST:</strong> <span data-hero-quest></span></p> -->

    <div class="character-sheet__wielding">
      <p><strong>Wielding</strong></p>
      <p data-hero-weapon></p>
      <p><strong>Wearing</strong></p>
      <p data-hero-armor></p>
    </div>
    <div class="character-sheet__inventory">
      <h2>Inventory</h2>
      <ol data-hero-inventory>
      </ol>
    </div>
  </div>
</div>
