<div class="character-sheet">
  <div class="character-sheet__info">
    <div class="character-sheet__portrait" data-hero-portrait>
    </div>
    <div class="character-sheet__bio">
      <h3><span data-hero-name>T1DL</span></h3>
      <p><strong>Location:</strong> <span data-hero-location>Landing dock</span></p>
    </div>
  </div>
  <div class="character-sheet__map">
    <div class="map">
      <div></div>
      <div class="location"></div>
      <div class="location"></div>
      <div class="location"></div>

      <div></div>
      <div class="location present"></div>
      <div class="location"></div>
      <div></div>

      <div class="location"></div>
      <div class="location"></div>
      <div class="location"></div>
      <div></div>

      <div class="location"></div>
      <div class="location"></div>
      <div class="location"></div>
      <div class="location"></div>

      <div></div>
      <div class="location"></div>
      <div></div>
      <div class="location"></div>
    </div>
  </div>

  <div class="character-sheet__inventory">
    <h2>Inventory</h2>
    <ol data-hero-inventory>
    </ol>
  </div>
</div>
